.hidden{
    display: none;
}

img{
    width: 80%;
}

#small_image{
    width: 20%;
    display: inline-block;
    margin-right: 20px;
}

#board_select{
    display: inline-block;
    vertical-align: top;
}