img{
    width: 200px;
    height: auto;
}

p{
    font-size: smaller;   
    color: black;
}

a{
    text-decoration: none;
}
/* 
#mini_pin_container{
    max-width: 300px;
    vertical-align: top;
} */