<div class="container">
<app-nav></app-nav>
<br>
<div [ngClass]="'div'">
  <h1 [ngClass]="'link'" [ngClass]="'inline'"> {{ user.fullName }}</h1>
  <h3 [ngClass]="'inline'" *ngIf="user.boards.length==1"><a [ngClass]="'link'" (click)="boards()">{{ user.boards.length }} board  |  </a></h3>
  <h3 [ngClass]="'inline'" *ngIf="user.boards.length != 1"><a [ngClass]="'link'" (click)="boards()">{{ user.boards.length }} boards |  </a></h3>

  <h3 [ngClass]="'inline'" *ngIf="user.pins.length ==1"><a [ngClass]="'link'" (click)="pins()"> {{ user.pins.length }} Pin  |</a></h3>
  <h3 [ngClass]="'inline'" *ngIf="user.pins.length !=1"><a [ngClass]="'link'" (click)="pins()"> {{ user.pins.length }} Pins  |</a></h3>


<h3 [ngClass]="'inline'" *ngIf="user.followers.length ==1"><a [ngClass]="'link'" (click)="followers()"> {{ user.followers.length }} Follower  |  </a></h3>
<h3 [ngClass]="'inline'" *ngIf="user.followers.length !=1"><a [ngClass]="'link'" (click)="followers()"> {{ user.followers.length }} Followers  |  </a></h3>
<h3 [ngClass]="'inline'" *ngIf="user.following.length ==1"><a [ngClass]="'link'" (click)="following()"> {{ user.following.length }} Following  |  </a></h3>
<h3 [ngClass]="'inline'" *ngIf="user.following.length !=1"><a [ngClass]="'link'" (click)="following()"> {{ user.following.length }} Following  |  </a></h3>
<h3 [ngClass]="'inline'" *ngIf="user._id==currentUser._id"><a [ngClass]="'link'" (click)="edit()">Edit My Profile</a></h3>
<h3 *ngIf='user._id!=currentUser._id && currentUser.following.indexOf(user._id) == -1'><a [ngClass]="'link'" (click)="follow(user._id)">Follow</a></h3>
<h3 *ngIf='user._id!=currentUser._id && currentUser.following.indexOf(user._id) > -1'><a [ngClass]="'link'" (click)="unfollow(user._id)">Unfollow</a></h3>
<div *ngIf="view=='boards'">
  <span  *ngFor="let board of user.boards" [ngClass]="'inline'">
    <span class="boards">
    <app-board [board]="board"></app-board>
    </span>
  </span>
  </div>
  <div *ngIf="view=='pins'">
    <span *ngFor="let pin of user.pins">
    <app-pin [pin]="pin"></app-pin>
  </span>
  </div>
</div>
<app-edit-profile *ngIf="view=='edit'" [currentUser]="currentUser"></app-edit-profile>
<div *ngIf="view=='followers'">
  <a *ngFor='let follower of user.followers' [routerLink]="['/profile', follower._id]">
    <div>
      <p>{{follower.fullName}}</p>
      <p *ngIf="follower.boards.length !=1">{{follower.boards.length}} boards</p>
      <p *ngIf="follower.boards.length ==1">{{follower.boards.length}} board</p>
      <p *ngIf='follower.followers.length !=1'>{{follower.followers.length}} followers</p>
      <p *ngIf='follower.followers.length ==1'>{{follower.followers.length}} follower</p>
    </div>
  </a>
</div>
<div *ngIf="view=='following'">
  <a *ngFor='let following of user.following' [routerLink]="['/profile', following._id]">
    <div>
      <p>{{following.fullName}}</p>
      <p *ngIf="following.boards.length !=1">{{following.boards.length}} boards</p>
      <p *ngIf="following.boards.length ==1">{{following.boards.length}} board</p>
      <p *ngIf='following.followers.length !=1'>{{following.followers.length}} followers</p>
      <p *ngIf='following.followers.length ==1'>{{following.followers.length}} follower</p>
    </div>
  </a>
</div>
</div>
