.hidden{
    display: none;
}

.error{
    color: red;
    display: inline;
}

#photos{
    column-width: 320px;
    column-gap: 2px;
    columns:4; 
    width: 90%;
    max-width: 970px;
    margin: auto;
    text-align:center;
}

.image_display{
    display: inline-block;
    width:80%;
    height:auto;
    padding:10px;
    margin-bottom:5px;
    box-shadow: .5px .5px 5px #888888;
}

img{
    width: 80%;
}