.hidden{
    display: none;
}

.error{
    color: red;
    display: inline;
}

#photos{
    column-width: 320px;
    column-gap: 2px;
    columns:4; 
    width: 90%;
    max-width: 970px;
    margin: auto;
    text-align:center;
}

.image_display{
    display: inline-block;
    width:80%;
    height:auto;
    padding:10px;
    margin-bottom:5px;
    box-shadow: .5px .5px 5px #888888;
}

img{
    margin-top: 5%;
    width: 80%;
}

#small_image{
    width: 20%;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 0;
}

#board_select{
    display: inline-block;
    margin-top: 0;
}
.go_back{
    vertical-align: top;
    color: #2D571A;
    margin-left: 10px;

}
.container {
    width: 1350px;
}
a:hover {
    cursor: pointer;
}
#pinModal{
    position: absolute;
    top: 20%;
    padding: 10%;
}
