<app-nav></app-nav>
<br>
<form #boardForm="ngForm" (submit)="createBoard()">
  <label>Title</label>
  <input type="text"
  name="title"
  required
  [(ngModel)]="board.title"
  #title="ngModel"
  >
  <span *ngIf="title.errors">
    <p *ngIf="title.errors.required">
      Please give your board a title!
    </p>
  </span>
  <br>
  <label>Description</label>
  <input type="text"
  name="description"
  [(ngModel)]="board.description"
  #description="ngModel"
  >
  <br>
  <label>Category</label>
  <select name="category"
  required
  [(ngModel)]="board.category"
  #category="ngModel"
  >
    <option value="Pickle Art">Pickle Art</option>
    <option value="Pickle Books">Pickle Books</option>
    <option value="Pickle Clothing">Pickle Clothing</option>
    <option value="Pickle Cockatails">Pickle Cocktails</option>
    <option value="Pickle DIY">Pickle DIY</option>
    <option value="Pickle Facts">Pickle Facts</option>
    <option value="Pickle History">Pickle History</option>
    <option value="Pickle Home Decor">Pickle Home Decor</option>
    <option value="Pickle Humor">Pickle Humor</option>
    <option value="Pickle Photography">Pickle Photography</option>
    <option value="Pickle Pop Culture">Pickle Pop Culture</option>
    <option value="Pickle Recipes">Pickle Recipes</option>
  </select>
  <span *ngIf="category.errors">
    <p *ngIf="category.errors.required">
      Please select a category
    </p>
  </span>
  <br>
  <input type="submit" value="Create Board" [disabled]="!boardForm.valid">
</form>