<div id="container">
  
    <fieldset>
      <legend>Login</legend>
      <form (submit)="loginAttempt()" #formData='ngForm'>
        <label for="email">Email: </label>
        <input 
          type="text"
          name="email"
          id="email"
          [(ngModel)]="attemptedUser.email"
        >
        <label for="password">Password: </label>
        <input 
          type="password"
          name="password"
          id="password"
          [(ngModel)]="attemptedUser.password"
        >
        <p *ngIf="loginError" class="red">{{ loginError }}</p>
        <input type="submit" name="submit" value="Login">
      </form>    
    </fieldset>

    <fieldset>
      <legend>Registration</legend>
      <p><strong>All fields are required for a new user</strong></p>
      <p *ngFor="let err of regErrors" class="red">{{ err }}</p>
      <form (submit)="registrationAttempt()" #formData='ngForm'>
        <label for="fullName">Full Name:</label>
        <input 
          type="text" 
          id="fullName" 
          name="fullName"
          required 
          [(ngModel)]="user.fullName">
        <br>
        <label for="email">Email:</label>
        <input 
          type="text" 
          id="email"
          name="email"
          required
          [(ngModel)]="user.email">
        <br>
        <label for="age">Age:</label>
        <input 
          type="text" 
          id="age" 
          name="age"
          required
          [(ngModel)]="user.age">
        <br>
        Gender: 
        <label for="male">Male</label>
        <input type="radio" 
          id="male" 
          name="gender"
          value="male"
          required
          [(ngModel)]="user.gender">
        <label for="female">Female</label>
        <input type="radio" 
          id="female" 
          name="gender"
          value="female"
          [(ngModel)]="user.gender">
        <label for="other">Other</label>
        <input type="radio" 
          id="other" 
          name="gender"
          value="other"
          [(ngModel)]="user.gender">
        <br>
        <label for="password">Password</label> 
        <input 
          type="text" 
          id="password" 
          name="password"
          required 
          [(ngModel)]="user.password">
        <br>
        <label for="confirmPassword">Confirm Password</label>
        <input 
          type="text" 
          id="confirmPassword"
          name="confirmPassword"
          required
          [(ngModel)]="pwConfirm"
        >
        <br>
        <input [disabled]='!formData.valid' type="submit" value="Register">
      </form>    
    </fieldset>

  </div>