.container{
    width: 1350px;
}
#pinfo{
    margin-left: 25%;
    margin-top: 2%;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: inline-block;
    width: 50%;
}
#nav{
    display: block;
}


h2{
    display: inline-block;
}

h3{
    display: inline-block;
}
#save{
    float: right;
    margin-right: 5%;
}
#pin_image {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
#comments{
    color: #2D571A;
}


a{
    text-decoration: none;
    margin-left: 0px;
    padding-left: 0px;
}

.bold{
    font-weight: bold;
}


#title{
    margin-left: 5%;
    display: inline-block;
}

#text{
    margin-left: 5%;
}
form{
    width: 95%;
}