<app-nav></app-nav>
<div id='pinfo'>
  <h1>{{pin.title}} <button [ngClass]="'button'" (click)='repin()'>Save</button></h1>
  <img src={{pin.image}} alt="Placeholder for pin image">
  <div id='text'>
    <p><a class = 'unindent2 bold' [ngClass]="'link'" href={{pin.source_link}}>Read It</a></p>
    <p>{{pin.description}}</p>
    <p>Published {{pin.createdAt | date}}</p>
    <p class = 'unindent'><span class='bold'><a [ngClass]="'link'" [routerLink]="['/profile', pin._user._id]">{{pin._user.fullName}}</a></span> saved to <span class='bold'><a [ngClass]="'link'" [routerLink]="['/board', pin._board._id]">{{pin._board.title}}</a></span></p>
    <p>{{pin._board.description}}</p>
    <p *ngIf='pin.repins == 1'>{{pin.repins}} repin</p>
    <p *ngIf='pin.repins > 1'>{{pin.repins}} repins</p>
    <h4 class = 'unindent2' [ngClass]="'link'">Comments</h4>
    <div>
      <div id='comment' *ngFor='let comment of comments'>
        <p><span class='bold'><a [ngClass]="'link'" [routerLink]="['/profile', comment._user]">{{ comment.commenter }}</a></span> - {{ comment.content }}</p>
      </div>
      <div id='comment form'>
          <form (submit)='sendComment()'>
            <input type="text" name='message' [(ngModel)]='message'>
          </form>
      </div>
    </div>
  </div>
</div>
