<div class="img-thumbnail">
<a [routerLink]="['../../board', board._id]">
  <div [style.background-image]="'url('+ coverImage +')'" [ngClass]="'board'">
    </div>
      <div class="caption">
        <h4 [ngClass]="'link'">{{ board.title }}</h4>
        <h5 *ngIf="board.pins.length==1" [ngClass]="'link'">{{ board.pins.length}} pin</h5>
        <h5 *ngIf="board.pins.length > 1" [ngClass]="'link'">{{ board.pins.length}} pins</h5>
        <h5 *ngIf="board.pins.length == 0" [ngClass]="'link'">No pins yet!</h5>
      </div>
</a>
</div>    