
    <h2 [ngClass]="'link'" [ngClass]="'inline'">{{ board.title }}</h2> 
    <h5 [ngClass]="'link'" [ngClass]="'inline'">by {{ board._user.fullName}}</h5>
    <h5 [ngClass]="'link'">{{ board.description }}</h5>
    <h4 [ngClass]="'link'">Category: {{ board.category }}</h4>
        <h5 [ngClass]="'link'" *ngIf="board.pins.length==1">{{ board.pins.length }} pin</h5>
        <h5 [ngClass]="'link'" *ngIf="board.pins.length != 1">{{ board.pins.length }} pins</h5>

<div *ngFor="let pin of board.pins">
    <app-pin [pin]="pin"></app-pin>
</div>