#new-pin{
    display: inline-block;
    vertical-align: top;
}

#board_pin_display{
    column-width: 320px;
    column-gap: 2px;
    columns:3; 
    width: 90%;
    max-width: 970px;
    margin: auto;
    text-align:center;
}

.container {
    width: 1350px;
}
.board_pins{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}