<div class="container">
<app-nav></app-nav>

<div [ngClass]="'left_margin'">
    <h2 [ngClass]="'link'" [ngClass]="'inline'">{{ board.title }}</h2> 
    <h5 [ngClass]="'link'" [ngClass]="'inline'"><a [ngClass]="'link'" [routerLink]="['/profile', board._user._id]">by {{ board._user.fullName}}</a></h5>
    <h5 [ngClass]="'link'">{{ board.description }}</h5>
    <h4 [ngClass]="'link'">Category: {{ board.category }}</h4>
    <h5 [ngClass]="'link'" *ngIf="board.pins.length==1">{{ board.pins.length }} pin</h5>
    <h5 [ngClass]="'link'" *ngIf="board.pins.length != 1">{{ board.pins.length }} pins</h5>

    <div [ngClass]="'inline'" *ngFor="let pin of board.pins">
        <app-pin [pin]="pin"></app-pin>
    </div>
</div>
</div>