

.container {
    max-width: 1340px;
}
.board_pins{
    display: inline-block;
    vertical-align: top;
    margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 5px;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
   
}
#columns {
    -webkit-column-width: 220px;
	column-width: 220px;
	column-gap: 0;
    max-width: 970px;
    margin: 2px auto;
    margin-left: 0px;
    -webkit-column-count: auto;
    column-count: auto;
    -webkit-column-fill: auto;
    column-fill: auto;
}