/* You can add global styles to this file, and also import other style files */
p, label, h1, h2, h3, h4, h5, h6, legend, a, i{
    color: #2D571A;
}

.green{
    color: #2D571A;
}
.button{
    background-color: #2D571A;
    color: #E4E693;
}

.link{
    margin-left: 10px;
    color: #2D571A;
}
.inline{
    display: inline-block;
}
.div{
    padding-left: 10px;
}
.left_margin{
    margin-left: 10px;
}
.board{
    height: 350px;
    width: 500px;
    background-size: cover;
}
.pin{
    height: 300px;
    width: 200px;
    background-size: cover;
}
.pin{
    background-size: cover;
}
