/* You can add global styles to this file, and also import other style files */
p, label, h1, h2, h3, h4, h5, h6, legend, a, i{
    color: #2D571A;
}

.green{
    color: #2D571A;
}
.button{
    background-color: #2D571A;
    color: #E4E693;
}