
#container {
    width: 970px;
    margin: 10px auto;
    text-align: center;

}


.topic {
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 3px solid 	#2D571A;
    display: inline-block;
    height: 250px;
    background: #457722;;
    vertical-align: top;
}

.topicImg {
    width: 90%;
    height: 150;
    margin: 10px;
    border: 1px solid 	#2D571A;
}

.hovered {
    border: 3px solid #E4E693;
}

#continue {
    margin: 20px;
    height: 50px;
    width: 30%;
    border-radius: 5px;
    background-color: #2D571A;
    color: #E4E693;
}

.selected {
    background: #E4E693;
}